*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.bulb{
    height: 100px;
    width: 100px;
    background-color: bisque;
    border-radius: 50%;
}
button{
    padding: 0px 20px;
    background-color: aqua;
    cursor: pointer;
}
button:active{
    scale: 0.96;
}